<div>
    <select class="options" id="persontype-options" name="persontype-selection">
        <option class="pj" value="pj"><?= __('Pessoa Jurídica')  ?></option>
        <option class="pf" value="pf"><?= __('Pessoa Física')  ?></option>
    </select>
</div>
<script>
    require([
        'jquery',
    ], function ($) {
        $(function () {
            $('#persontype-options').on('change', function() {
                if (this.value == "pf") {
                    $('.field.company-name label span').html("<?= __('Name')  ?>");
                    $('.field.company-email label span').html("<?= __('Email')  ?>");

                    $('.field.legal-name').hide();
                    $('.field.reseller-id').hide();
                    $('.fieldset.create.info').hide();

                } else {
                    $('.field.company-name label span').html("<?= __('Company Name')  ?>");
                    $('.field.company-email label span').html("<?= __('Company Email')  ?>");

                    $('.field.legal-name').show();
                    $('.field.reseller-id').show();
                    $('.fieldset.create.info').show();
                }
             });

            $("#persontype-options").trigger('change');
        });
    });
</script>